Bitcoin_Price-main/flows/flows.json
[{"id":"f02a3fdc.8d46c","type":"tab","label":"BitPred","disabled":false,"info":""},{"id":"2810e64c.1467a2","type":"inject","z":"f02a3fdc.8d46c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":300,"wires":[["5b90fa63.89fdc4"]]},{"id":"5b90fa63.89fdc4","type":"function","z":"f02a3fdc.8d46c","name":"","func":"var power_consumption = Math.random()*0.5;\nvar hashrate = 70 + Math.random()*25;\nmsg.payload = {\n    'Power_Consumption' : power_consumption,\n    'HashRate' : hashrate\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["62364407.0247b4"]]},{"id":"630781e1.a5cff","type":"mqtt out","z":"f02a3fdc.8d46c","name":"","topic":"BitPred/bit","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d076162b.8b4648","x":730,"y":320,"wires":[]},{"id":"62364407.0247b4","type":"json","z":"f02a3fdc.8d46c","name":"","property":"payload","action":"","pretty":false,"x":560,"y":320,"wires":[["630781e1.a5cff"]]},{"id":"d076162b.8b4648","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]